// class and settings for a responsive foundational content container, similar to bootstrap dimensions.
// TODO: change breakpoints to be something more fluid instead of something matching bootstrap behavior.
.content {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  @media(min-width: $screen-large) {
    max-width: $grid-width;
  }
  @media(max-width: $screen-medium-max) {
    max-width: 970px;
  }
  @media(max-width: $screen-small-max) {
    max-width: 750px;
  }
  @media(max-width: $screen-xs-max) {
    max-width: 100%;
    padding: 0 15px;
  }
}

// Button placeholder class
%btn {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  vertical-align: middle;
}
